.name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 95px;
  text-align: center;
  margin: 25px;
  border: 2px solid black;
  padding: 10px;
  float: top;
  background-color: gainsboro;
}

.titles {
  color: crimson;
}
.ducks {
  color: green;
}
.box {
  font-family: Arial, Helvetica, sans-serif;
  margin: 12px;
  border: 2px solid black;
  padding: 4px;
}
.sections {
  margin: 10px;
  border: 2px solid black;
  padding: 10px;
}
.text-align {
  text-align: center;
}